.input__msg-form {
  display: flex;
}

.msg__input {
  border-radius: 0;
  padding: 3%;
  width: 80%;
  font-size: 1.2em;
  border: none;
  border-top: 2px solid #D3D3D3;
}

.msg__input:focus, textarea:focus, select:focus{
  outline: none;
}

.send_btn {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #2979FF;
  display: inline-block;
  border: none;
  width: 20%;
  height: 40px !important;
}
